#!/usr/bin/env python3

TOKEN = 'DISCORDAPITOKENHERE'
CHANNEL_ROLL = 'CHANNELID' 
CHANNEL_TAROT = 'CHANNELID'
TAROT_USERS = ['commaspaced','list','of','allowed','users']
BASEURL = 'BASE_URL'
EXT = '.jpg'